$primary-purple: rgb(85, 15, 155);
$primary-pink: rgb(145, 40, 225);

* {
  border: solid black 1px;
}

body {
  font-family: Arial, Helvetica, sans-serif;
}

header {
  background-color: $primary-purple;
}

.top-bar {
  display: flex;
  justify-content: space-between;
}

.sidebar-content {
  flex-flow: column;
}

.information-card-header {
  background-color: $primary-purple;
  display: flex;
  justify-content: space-between;
}

.calendar-card-header {
  background-color: $primary-pink;
  display: flex;
  justify-content: space-between;
}